/* tablette */
@media (max-width: 1024px){
    .heroA {
        flex-direction: column;
    }
    .heroB {
        flex-direction: column;
    }
    .heroAHalf1, .heroAHalf2, .heroBHalf {
        width: auto;
        margin: 10px;
    }
    .heroPhotoB {
        width: 150px;
        border-radius: 100%;
    }
    .categorie {
        width: 30%;
    }
    .flexShop{
        width: 60%;
    }
    .containerproduits{
        grid-template-columns: 50% 50%;
        grid-template-rows: 320px 320px 320px 320px;
    }
    .caracteristiqueProduit {
        width: 25%;
    }
    .boutonAjoutPanier {
        width: 77%;
    }
    a.boutonAjoutPanier{
        font-size: 20px;
    }
    #produithumbmail {
        height: 190px;
    }

}
/* tablette */

/* menu Burger */
@media (max-width: 800px){
    /* menu burger */
    header {
        flex-direction: row-reverse;
    }
    .nav_link{
        flex-direction: column;
    }
    a.logo {
        margin-right: 15px;
    }
    .thPanier {
        font-size: 20px;
    }
    .tdPanier {
        font-size: 15px;
    }
    #menuToggle
    {
      display: block;
      position: relative;
      top: 33px;
      left: 30px;

    
      z-index: 1;
    
      -webkit-user-select: none;
      user-select: none;
    }

    #menuToggle a
    {
      text-decoration: none;
    
      transition: color 0.3s ease;
    }


    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
    
      cursor: pointer;
    
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
    
      -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
    
      background: #fff;
      border-radius: 3px;
    
      z-index: 1;
    
      transform-origin: 4px 0px;
    
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }

    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #B62626;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        width: 300px;
        margin: -62px 0px 0px -30px;
        padding: 62px 50px 5px 75px;
        background: #2D3436;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
}
/* menu Burger */

/* Mobile */
@media (max-width: 800px){
    .boutonAjoutPanier {
        width: 100%;
    }
    #catTitle, #retourShop {
        font-size: 15px;
        color: #000;
        margin: 10px 10px 10px 20px;
    }
}

@media (max-width: 768px){
    .buttonShopDetails{
        font-size: 20px;
    }
    .caracteristiqueProduit {
        width: 30%;
        margin-left: 60px;
    }
}

@media (max-width: 700px){
    .shopcontainer {
        flex-direction: column;
    }
    .categorie {
        width: 94%;
        align-self: center;
    }
    .flexShop {
        width: 100%;
        margin-top: 20px;
    }
    .containerproduits {
        grid-template-rows: 330px 330px 330px 330px;
    }
    .caracteristiqueProduit {
        margin-left: 40px;
    }
    #titreHeroA {
        font-size: 45px;
    }
    #produithumbmail {
        height: 230px;
    }
}

@media (max-width: 640px){
    #titreHeroA {
        font-size: 40px;
    }
    #crossProduct{
        font-size: 28px;
    }
    .produitDetailsContainer2 {
        width: 30%;
    }
    .produitDetailsThumbmail {
        width: 270px;
        height: 270px;
    }
    .caracteristiqueProduit {
        width: 42%;
    }
    .thumbmailRandomProduit {
        width: 140px;
        height: 140px;
    }
    .containerproduits {
        grid-template-rows: 350px 350px 350px 350px;
    }
    .randomProduitGrid {
        grid-template-columns: 160px 160px;
    }
}

@media (max-width: 425px){
    .containerShopHome {
        flex-direction: column;
        align-content: center;
    }
    .heroDHalf {
        width: 90%;
    }
    .containerproduits {
        grid-template-columns: 100%;
        grid-template-rows: 400px;
    }
    .produitDetailsThumbmail {
        width: 240px;
        height: 240px;
    }
    .produitDetailsContainer2 {
        width: 60%;
    }
    .produitDetailsContainer3 {
        flex-direction: column-reverse;
    }
    .caracteristiqueProduit {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .randomProduitGrid {
        grid-template-columns: 180px 180px;
    }
    .thumbmailRandomProduit {
        width: 160px;
        height: 160px;
    }
    #produithumbmail {
        height: 300px;
    }
    #titreHeroA {
        font-size: 35px;
    }
}
/* Mobile */